<form class='form' role="form">
  <div class="form-group">
    <select class="form-control" id="tipocomp" name="tipocomp" value="<%= tipocomp %>">
       <%= utils.buildSelectOptions('tipocomp',utils.tipoComprobanteOptionList, tipocomp) %>
  <div class="form-group">
    <label for="slug"  >descripción corta</label>
    <input id="slug" name="slug" type="text" class="form-control" 
          value="<%= slug %>" >
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <label for="description"  >descripción</label>
    <input id="description" name="description" type="textarea" class="form-control" 
          value="<%= description %>" >
    <span class="help-block"></span>
  </div>
  <button type="button" class="btn js-submit">Save</button>
</form>
