<td><%= slug %></td>
<td><%= origenpresu %></td>
<td><%= tramita %></td>
<td><%= anio %></td>
<td><spaan class="pull-right"><%= accounting.formatMoney(trim[0]) %></span></td>
<td><spaan class="pull-right"><%= accounting.formatMoney(trim[1]) %></span></td>
<td><spaan class="pull-right"><%= accounting.formatMoney(trim[2]) %></span></td>
<td><spaan class="pull-right"><%= accounting.formatMoney(trim[3]) %></span></td>
<td><spaan class="pull-right"><%= accounting.formatMoney(costo_total) %></span></td>
