<!--article id="sidebar-region" role="navigation" class="sistema-box" -->
<div class="content-body">
  <h5 class="spacer"><span class="glyphicon glyphicon-th"></span> Fecha evento  <%= fevento %></h5>
  <p><%= leyendafecha %></p>

  <p><span class="glyphicon glyphicon-map-marker"></span> <%= lugar %> - <%= locevento %> / <%= provevento %> </p>
  <p><%= devento %></p>
</div>
<div class="well transparent">
  <h5>Detalle de los requerimientos solicitados</h5>
  <table id="example" class="table" cellspacing="0" width="100%"><tbody></tbody> </table>
</div>

<!--/article -->
<div class="content-bottom">
  <h5>Estado de la solicitud</h5>
  <div class="req-row">Aprobación Municipal<span class="label label-success">Aprobado</span></div>
<!-- Solo Usuarios MCN -->
  <div class="req-row">Avance MCN<span class="label label-info">Bajo</span></div>
  <div class="req-row">Aprobación MCN<span class="label label-warning">Observado</span></div>
</div><!-- END BOTTOM -->
