[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=9d28ce2b22&view=att&th=13f1ed3743780b92&attid=0.1&disp=emb&realattid=ii_13f1ed3591414dcd&zw&atsh=1
Icon=text-html
