<div class="row well">
	<div class="col-xs-4 col-sm-4" >
		<!--
		<div class='row'>
		<div class="col-xs-6 col-sm-6" >
		-->
		<p><strong>Tipo Evento: </strong><%= tipo_evento %></p>
		<p><strong>Fecha Evento: </strong><%= fevento %></p>
		<p><strong>Horario: </strong><%= leyendafecha %></p>
		<p><strong>Lugar: </strong><%= lugar %></p>
		<p><strong>¿Aire Libre? </strong><%= airelibre %></p>
		<p><strong>Provincia: </strong><%= provevento %></p>
		<p><strong>Localidad: </strong><%= locevento %></p>
		<p><strong>CP: </strong><%= cpevento %></p>
	</div>
		<!--
		</div>
		-->
	<div class="col-xs-8 col-sm-8" >
		<p><strong>Solicitud: </strong><%= devento %></p>
		<p><strong>Evento: </strong><%= devento %></p>
	</div>
		<!--
		</div>
		-->
	<!--
	<div class="col-xs-5 col-sm-5" >
		<div class='row'>
		<span class='col-sm-12 pull-right'><%= devento %></span>
		</div>
	</div>
	-->
</div>
<div class="row well">
	<div class="col-xs-4 col-sm-4" >
		<h4>Responsable solicitante</h4>
		<p><%= nsolicitante %></p>
		<p><%= esolicitante %></p>
		<p><%= tsolicitante %></p>
		<h4>Enlace técnico</h4>
		<p><%= ntecnico %></p>
		<p><%= etecnico %></p>
		<p><%= ttecnico %></p>
	</div>
	<div class="col-xs-8 col-sm-8" >
		<h4>Responsable interno</h4>
		<p><strong>Area: </strong><%= aasignada %></p>
		<p><strong>Responsable: </strong><%= rasignado %></p>
		<p><%= rmail %></p>
		<p><%= rtelef %></p>
	</div>
</div>
<hr>
