<td>
	<div><strong><%= nombreyape %></strong></div>
</td>
		
<td>
		<div class="clearfix"><%= cargo %></div>
</td>

<td>
		<div class="clearfix"><%= email %></div>
</td>


<!--<td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-pencil"></span></button></p>
</td>-->

<td><p><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-trash"></span></button></p>
</td>
