<div class="fuelux">
	<section class="page-view">
		<div role="main">
			<div class="row margin-section">  
				<div class="form col-xs-12 col-md-12">
					<!--BEG FORM-->
					<div class="fu-example section">
						<div class="wizard" data-initialize="wizard" id="myWizard">
							<ul class="steps" style="margin-left: 0">
                <li data-step="1" class="active"><span class="badge badge-info">1</span>Empresa<span class="chevron"></span></li>
                <li data-step="2"><span class="badge">2</span>Representantes<span class="chevron"></span></li>
                <li data-step="3"><span class="badge">3</span>Comprar<span class="chevron"></span></li>
                <li data-step="4"><span class="badge">4</span>Vender<span class="chevron"></span></li>
								<li data-step="5"><span class="badge">5</span>Confirmación<span class="chevron"></span></li>
              </ul>
							<div class="actions">
								<button class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span></button>
								<button class="btn btn-default btn-next" data-last="FINALIZAR"><span class="glyphicon glyphicon-arrow-right"></span></button>
							</div>
							
							<div class="step-content">
								<div class="step-pane active" data-step="1">
									<h4>Datos de la Empresa o Institución</h4>
									<div class="avatar-upload">
										<div id="cropContainerEyecandy" name='cropContainerEyecandy'></div>
									</div>
                  <div class="form-group">
										<div class="row">
											<div class="col-sm-5 col-xs-9">
												<label class="control-label">Nombre de la Empresa (alias)</label>
												<input type="text" class="form-control" id="aliasempre" name="aliasempre" value='<%= aliasempre %>'/>
                        <span class="help-block"></span>
											</div>
											<div class="col-sm-5 col-xs-9">
												<label class="control-label">Razón social</label>
												<input type="text" class="form-control" id="razonempre" name="razonempre" value='<%= razonempre %>'/>
											</div>
                    </div>
                  </div>
									<div class="form-group col-sm-10">
										<div class="row">
											<label class="control-label">Describa el perfil de la empresa/institución</label>
											<textarea class="form-control" id="descempre" name="descempre" rows="2" <%= descempre %> placeholder="Escriba su descripción en un máximo de 140 caracteres"></textarea>
											<p id="limit-chars"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4 selectContainer">
												<label class="control-label">País</label>
												<select class="form-control" id="paisempre" name="paisempre">
													<%= utils.buildSelectOptions('paisempre',utils.paisesOptionList.Paises, paisempre) %>
												</select>
											</div>
											<div class="col-sm-4 selectContainer">
												<label class="control-label">Provincia</label>
												<select class="form-control" id="provempre" name="provempre">
														<%= utils.buildSelectOptions("provempre",utils.provinciasOptionList.Argentina, provempre) %>
												</select>
											</div>
										
											<div class="col-sm-4">
												<label class="control-label">Localidad</label>
												<input type="text" class="form-control" id="locempre" name="locempre" value="<%= locempre %>" >
											</div>
										</div>
									</div>
										
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4 selectContainer">
												<label class="control-label">CUIT</label>
												<input type="text" class="form-control" id="cuitempre" name="cuitempre" value='<%= cuitempre %>'/>
											</div>
											<div class="col-sm-8">
												<label class="control-label">Domicilio</label>
												<input type="text" class="form-control" id="domempre" name="domempre" value='<%= domempre %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">

											<div class="col-sm-2 selectContainer">
												<label class="control-label">CP</label>
												<input type="text" class="form-control" id="cpempre"name="cpempre" value='<%= cpempre %>'/>
											</div>

											<div class="col-sm-5">
												<label class="control-label">Email</label>
												<input type="email" class="form-control" id="mailempre" name="mailempre" value='<%= mailempre %>'>
											</div>

											<div class="col-sm-5">
													<label class="control-label">Web</label>
													<input type="text" class="form-control" id="webempre" name="webempre" value='<%= webempre %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label class="control-label">Año de Fundación</label>
												<input type="text" class="form-control" id="afunempre" name="afunempre" value='<%= afunempre %>'>
											</div>

											<div class="col-sm-4">
												<label class="control-label">Nro. de empleados</label>
												<input type="text" class="form-control" id="nempempre" name="nempempre" value='<%= nempempre %>'/>
											</div>

											<div class="col-sm-4">
												<label class="control-label">Facturación anual</label>
												<input type="text" class="form-control" id="factaempre" name="factaempre" value='<%= factaempre %>'>
											</div>
										</div>
									</div>
                </div><!-- END EVENTO --> 
                
                <div class="step-pane" data-step="2">
									<h4>Representante que participará de la ronda</h4>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label">Email del Responsable</label>
												<input type="text" class="form-control" id="rmail" name="rmail" value='<%= rmail %>' disabled><!--A completar automáticamente-->
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-8">
												<label class="control-label">Nombre y apellido del Responsable</label>
												<input type="text" class="form-control" id="rnombre" name="rnombre" value='<%= rnombre %>'/>
	                       <span class="help-block"></span>
										</div>
											<div class="col-sm-4">
												<label class="control-label">Cargo</label>
												<input type="text" class="form-control" id="rcargo" name="rcargo" value='<%= rcargo %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3">
												<label class="control-label">DNI</label>
												<input type="text" class="form-control" id="rdni" name="rdni" placeholder="XXXXXXXX" value='<%= rdni %>' />
											</div>
											
											<div class="col-sm-3">
												<label class="control-label">Fecha de nacimiento</label>
												<input type="text" class="form-control" id="rfecnac" name="rfecnac" value='<%= rfecnac %>'/>
											</div>
											
											<div class="col-sm-3">
												<label class="control-label">Teléfono</label>
												<input type="text" class="form-control" id="rtel" name="rtel" value='<%= rtel %>'/>
											</div>

											<div class="col-sm-3">
												<label class="control-label">Teléfono móvil</label>
												<input type="text" class="form-control" id="rcelular" name="rcelular" value='<%= rcelular %>'/>
											</div>

										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label">Idiomas que domina</label>
												<input type="text" class="form-control" id="ridiomas" name="ridiomas">
											</div>
										</div>
									</div>
									<hr class="spacer">
									<a id="nuevo-req-btn" >
										<button id="itemFormBtn" type="button" class="btn btn-primary">Agregar otro representante</button>
									</a>
									<!--Otro Representante-->
									<div id="nuevo-req-form" class="col-xs-12 col-md-12 sistema-box"></div>
                  <!--END Otro Representante-->
									<div id='soldetails-region' class="col-xs-12 col-md-12 sistema-box row spacer"></div>
								</div><!-- END RESPONSABLES -->
  
                <div class="step-pane" data-step="3">
									<h4>ACTIVE SU PERFIL DE COMPRADOR</h4> 
									<p>En caso de tener productos o servicios culturales para <strong>COMPRAR</strong>, active su perfil de Comprador.</p>
									<div id="data" class="switch">
										<input id="buyer" class="cmn-toggle cmn-toggle-round" type="checkbox">
										<label for="buyer"></label>
									</div>
									<!--BEG INFO COMO COMPRADOR-->
									<div id="infocomprador" class="hidden"><hr>
										<h5>Actividades sobre las que desea inscribirse como comprador</h5>  
										<div class="form-group" id="buyactividades">
											<div class="checkbox" id="buyteatro">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Artes escénicas</span>
												</label>
											</div>
											<div class="checkbox" id="buyaudiovisual">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Audiovisual</span>
												</label>
											</div>
											<div class="checkbox" id="buydiseno">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Diseño</span>
												</label>
											</div>
											<div class="checkbox" id="buyeditorial">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Editorial</span>
												</label>
											</div>
											<div class="checkbox" id="buymusica">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Música</span>
												</label>
											</div>
											<div class="checkbox" id="buyvideojuegos">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Videojuegos y Apps</span>
												</label>
											</div>
										</div>
										
										<div class="form-group">
											<div class="row">
												<div class="form-group">
													<label class="col-sm-12 control-label">Palabras clave</label>
													<div class="col-sm-12">
														<select multiple id="compclave" name="compclave" class="form-control" data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter." value='<%= compclave %>'></select>
													</div>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Detalle los productos y/o servicios de la empresa/institución</label>
													<textarea class="form-control" name="lugarfecha" rows="4"></textarea>
												</div>
                              
												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales del exterior?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-buy-always">
														<input class="sr-only" checked="checked" name="ext-buy" type="radio" value="ext-buy-always"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-buy-often">
														<input class="sr-only" name="ext-buy" type="radio" value="ext-buy-often"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-buy-never">
														<input class="sr-only" name="ext-buy" type="radio" value="ext-buy-never"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales de otras provincias?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-buy-always">
														<input class="sr-only" checked="checked" name="prov-buy" type="radio" value="prov-buy-always"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-buy-often">
														<input class="sr-only" name="prov-buy" type="radio" value="prov-buy-often"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-buy-never">
														<input class="sr-only" name="prov-buy" type="radio" value="prov-buy-never"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Principales mercados con los que hace negocios (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Participa de Ferias / eventos (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Propósito de su participación en este evento</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>
												<div class="form-group col-sm-12">
													<label class="control-label">Comentarios adicionales sobre su participación como comprador en el evento</label>
													<textarea class="form-control" name="comentario" rows="4"></textarea>
												</div>
											</div>
										</div>
									</div><!--END INFO COMO COMPRADOR-->
								</div>
                
                <div class="step-pane" data-step="4">
									<h4>ACTIVE SU PERFIL DE VENDEDOR</h4>
									<p>En caso de tener productos o servicios culturales para <strong>VENDER</strong>, active su perfil de Vendedor.</p>
									<div id="data" class="switch">
										<input id="seller" class="cmn-toggle cmn-toggle-round" type="checkbox">
										<label for="seller"></label>
									</div>
									
									<!--BEG INFO COMO VENDEDOR-->
									<div id="infovendedor" class="hidden"><hr> 
										<h5>Actividades sobre las que desea inscribirse como vendedor</h5>  
										<div class="form-group sellactividades">
											<!-- Icons -->
											<div class="checkbox" id="sellteatro">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Artes escénicas</span>
												</label>
											</div>
											<div class="checkbox" id="sellaudiovisual">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Audiovisual</span>
												</label>
											</div>
											<div class="checkbox" id="selldiseno">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Diseño</span>
												</label>
											</div>
											<div class="checkbox" id="selleditorial">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Editorial</span>
												</label>
											</div>
											<div class="checkbox" id="sellmusica">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Música</span>
												</label>
											</div>
											<div class="checkbox" id="sellvideojuegos">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input class="sr-only" type="checkbox" value="">
													<span class="checkbox-label">Videojuegos y Apps</span>
												</label>
											</div>
										</div>    

										<div class="form-group">
											<div class="row">

												<div class="form-group">
													<label class="col-sm-12 control-label">Palabras clave</label>
														<div class="col-sm-12">
															<select multiple id="venpclave" name="venpclave"  class="form-control" data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter." value='<%= venpclave %>'></select>
														</div>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Detalle los productos y/o servicios de la empresa/institución</label>
													<textarea class="form-control" name="lugarfecha" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales del exterior?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-sell-always">
														<input class="sr-only" checked="checked" name="ext-sell" type="radio" value="ext-sell-always"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-sell-often">
														<input class="sr-only" name="ext-sell" type="radio" value="ext-sell-often"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="ext-sell-never">
														<input class="sr-only" name="ext-sell" type="radio" value="ext-sell-never"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales de otras provincias?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-sell-always">
														<input class="sr-only" checked="checked" name="prov-sell" type="radio" value="prov-sell-always"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-sell-often">
														<input class="sr-only" name="prov-sell" type="radio" value="prov-sell-often"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-sell-never">
														<input class="sr-only" name="prov-sell" type="radio" value="prov-sell-never"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Principales mercados con los que hace negocios (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Participa de Ferias / eventos (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Propósito de su participación en este evento</label>
													<textarea class="form-control" name="description" rows="4"></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Comentarios adicionales sobre su participación como vendedor en el evento</label>
													<textarea class="form-control" name="comentario" rows="4"></textarea>
												</div>
											</div>
										</div>
									</div>


                </div><!-- END STEP 4 -->
								<div class="step-pane" data-step="5">
									<h4>Confirmación</h4>
									<div class="bg-danger well-transparent row" id="requisite">
										Verifique que los datos que se listan a continuación sean correctos.
									</div>
									<h4 class="spacer">Datos de la Empresa o Institución</h4>
										<div><strong>Nombre de la Empresa: </strong><%= aliasempre %></div>
										<div><strong>CUIT: </strong><%= cuitempre %></div>
										<div><strong>Domicilio: </strong><%= domempre %></div>
										<div><strong>CP: </strong><%= cpempre %></div>
										<div><strong>País: </strong><%= paisempre %></div>
										<div><strong>Provincia: </strong><%= provempre %></div>
										<div><strong>Localidad: </strong><%= locempre %></div>
										<div><strong>Email: </strong><%= mailempre %></div>
										<div><strong>Web: </strong><%= webempre %></div>
										<div><strong>Año de Fundación: <%= afunempre %><%= aliasempre %></strong></div>
										<div><strong>Nro. de empleados: </strong><%= nempempre %></div>
										<div><strong>Facturación anual: </strong><%= factaempre %></div>
										<hr>
										<h4 class="spacer">Representante/s que participará/n de las rondas</h4>
										<div><strong>Nombre y apellido del Responsable:</strong></div>
										<div><strong>Cargo:</strong> </div>
										<div><strong>DNI:</strong></div>
										<div><strong>Fecha de nacimiento:</strong></div>
										<div><strong>Email del participante: </strong><%= rmail %></div>
										<div><strong>Teléfono:</strong></div>
										<div><strong>Teléfono Móvil:</strong></div>
										<div><strong>Idiomas que domina:</strong></div>
										<hr>
										<hr class="spacer" >
                  	<a href="#" id="submit-solicitud">
                    	<button type="button" class="btn btn-primary js-submit">Enviar inscripcion</button>
                  	</a>
								</div><!-- END STEP 5 -->

              </div><!--STEP content-->
            </div>
          </div>

        </div><!--END FORM-->



      
      </div><!-- huge row -->

    </div><!-- container fluid -->
  </section>

  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Eliminar requerimiento</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro que desea eliminar este requerimiento?</div>       
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" >
            <span class="glyphicon glyphicon-ok-sign"></span>Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div><!-- /.modal-content --> 
    </div><!-- /.modal-dialog --> 
  </div><!-- modal -->
    
</div><!-- end -->
