<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="btn-compose pull-left margin-right">
                <a type="button" class="btn btn-danger navbar-btn" href="index2.html"> <span class="glyphicon glyphicon-pencil"></span> Crear nueva solicitud</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#inbox" role="tab" data-toggle="tab">
                        Solicitudes <span class="label label-success"><%= cantsol %></span>
                    </a>
                </li>
                <li><a href="#draft" role="tab" data-toggle="tab">Borradores</a>

                </li>
                <li><a href="#trash" role="tab" data-toggle="tab">Eliminados</a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user %> <span class="glyphicon glyphicon-user pull-right"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#personas/<%= es_usuario_de %>">Configuración <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
		            <li class="divider"></li>
		            <li><a href="/logout">Salir <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
		          </ul>
		        </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>