<nav class="navbar navbar-default"  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#perfil">Perfil de Usuario</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class='notas' ><i class="icon-check"></i> agregar nota</a></li>
                    <li><a class='contacto' ><i class="icon-check"></i> datos de Contacto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuevo<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#personas/add">Persona</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li><a class='contacto' >Agregar contacto</a></li>
          <li><a class='usuario' >Agregar usuario</a></li>
          <li><a href="#" class='browse' >Navegar Personas</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vista<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#" class='vistacarousel' >Vista carousel</a></li>
                  <li><a href="#" class='vistainfo'  >Vista info</a></li>
              </ul>
          </li>
        </ul>
    </div>

  </div><!--ends container -->
</nav>

  <!-- form-PROFILE   parent:  -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div  class="row well" >
        <h2>Datos del Usuario</h2>
        <div class='col-md-2 col-md-offset-1'><strong>Saludo </strong></div>
        <div class='col-md-8'><%= displayName%></div>
        <div class='col-md-2 col-md-offset-1'><strong>Correo principal </strong></div>
        <div class='col-md-8'><%= username%></div>
      </div>

      <div id="persons1"></div>


        <div class="panel-group"  role='tablist' id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading" role='tab' id='headiingOne'>
              <a data-toggle="collapse"  data-parent='#accordion' href="#collapseBrnd">Suba su foto</a>
            </div>
            <div id="collapseBrnd" class="panel-collapse collapse" role='tabpanel'>
              <div class='panel-body'>
                <form class="form-horizontal facets">
                <fieldset>

                <div class="brandinghook"></div>
                <div id='brndloaded' ></div>
                <svg id='brnddrop' class='svgcontainer' width=700 height=160 >
                     <rect x="2" y="5" rx="20" ry="20" width="680" height="150"
                        style="fill:blue;stroke:black;stroke-width:3;fill-opacity:0.1;stroke-opacity:0.3"/>

                    <text x=200   y=50   font-size=15 fill=3 fill-opacity=.5 font-family='Arvo' >arrastre y suelte los archivos aqui</text>
                </svg>
                <div class='col-md-offset-1'>
                  <div class="brnddropped"></div> 
                </div>
                <div class="progress">
                  <div id='brndprogressbar' class="bar" style="width: 0%;">progress</div>
                </div> 
                <div>
                  <a href="#" class="btn btn-info    uploadbrnd">Subir contenido</a>
                  <a href="#" class="btn btn-warning discardbrnd">Descartar contenido</a>
                  <a href="#" class="btn btn-primary addnewbrnd">Alta nuevo branding</a>
                  <a href="#" class="btn btn-warning cancelbrnd">Cancelar</a>
                </div>                
                </fieldset>
                </form>
              </div><!-- panel body-->
            </div><!-- collapse-->
          </div>
        </div><!--   ends accordio1 -->
        <div id="brandingaccordion"></div>

      <div class='well'>
        <a href="#" class="btn btn-primary save">Guardar</a>
        <a href="#" class="btn btn-danger delete">Eliminar</a>
        <a href="#" class="btn btn-warning clonar">Clonar</a>
      </div>
      <div class="row status-bar">
          <div class="col-md-12">
              <div class="alert alert-success" style="display: none">
                  <b>INFO:</b> El registro se guardó exitosamente
              </div>
          </div>
      </div>
    </div><!--/row8 -->

    <div class="col-md-4"> <!--  main second col span 4 -->
          <div  class="well" style="text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Datos de contacto</div>
            <div id="contacts1"></div>
          </div><!--/.well side bar -->
          <div  class="well" style="width: 180px;text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Datos del usuario</div>
            <div id="userslist"></div>
          </div><!--/.well side bar -->
          <div  class="well" style="width: 180px;text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Relacionados</div>
            <div id="childs1" class="nav nav-list"></div>
          </div><!--/.well side bar -->
          <div  class="well" style="width: 180px;text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Ancestro</div>
            <div id="ancestor1" class="nav nav-list"></div>
          </div><!--/.well side bar -->
          <div  class="well" style="width: 180px;text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Assets</div>
                <div id='assets1' class="accordion" id="assetaccordion"></div>
          </div><!--/.well side bar -->
          <div  class="well" style="width: 180px;text-align: center;width:80%;margin: 0px auto;">
            <div class='nav-header'>Notas</div>
            <div id="notas1" class="nav nav-list"></div>
          </div><!--/.well side bar -->
      </div><!--  sidebar right span 4 -->
 
    </div><!--  end master row  -->
</div><!--  end container  -->
  
