<a href="#recursos/<%= _id %>" class="plain" >
<div class='row col-md-9' >
    <svg class='svgcontainer' width=800 height=27>
    	<text x=3  y=20  font-size=20 fill=<%= utils.viewData.resource.eventFillColor[nivel_importancia] %> 
              fill-opacity=<%= utils.viewData.resource.fillOpacity[nivel_ejecucion]%> font-family='Arvo' ><%= utils.viewData.resource.rubroText[rubro] %></text>
    	<text x=50  y=20  font-size=18 fill=<%= utils.viewData.resource.eventFillColor[nivel_importancia] %> 
              fill-opacity=<%= utils.viewData.resource.fillOpacity[nivel_ejecucion]%> font-family='Arvo' ><%= slug %></text>
      <text x=200  y=20  font-size=18 fill='black' 
              fill-opacity=1 font-family='Arvo' ><%= denom %></text>
    	<text x=580  y=20  font-size=18 fill='black' 
              fill-opacity=1 font-family='Arvo' >freq: <%= freq %></text>
    	<text x=660  y=20  font-size=18 fill='black' 
              fill-opacity=1 font-family='Arvo' >cant: <%= qty %></text>
    	<text x=740  y=20  font-size=18 fill='black' 
              fill-opacity=1 font-family='Arvo' >[<%= ume %>]</text>
    </svg>
</div>
<div class='row col-md-9' >
    <i class="icon-comment"></i> <%= description %><br/>
    <%= responsable %> <%= contraparte %>-[<%= nivel_ejecucion %>]-[<%= nivel_importancia %>]-[<%= estado_alta %>]-[<%= rubro %>]
</div>
</a>
